.comment-card {
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
    color: #000037;
    font-size: 18px;
}

.comment-card__text {
    line-height: 1.3rem;
}

.comment-card__footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.comment-card__timestamp {
    color: #b8b8b8;
    font-size: 0.61rem;
}

.comment-card__score {
    color: #b8b8b8;
    font-size: 0.61rem;
}