.logo {
    width: 100%;
}

.home {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.tagline {
    margin-top: 18px;
    margin-bottom: 18px;
    color: #fff;
    font-size: 21px;
}

.vume-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    transition: transform 500 msease;
    transition: transform 500ms ease, -webkit-transform500ms ease;
    color: #000037;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
}

.vume-button:hover {
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
}

.vume-button.join {
    background-color: #00e58f;
}

.vume-button.present {
    width: 25%;
    background-color: #00bbae;
}

.vume-button.primary {
    background-color: #0f9;
}

.vume-button.secondary {
    background-color: #00d0bb;
}

.vume-button.disabled {
    opacity: 0.33;
    cursor: not-allowed;
}

.vume-button.disabled:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.vume-button.tertiary {
    background-color: #e5c206;
}

.vume-button.quaternary {
    background-color: #e74900;
}

.body {
    background-color: #000037;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 16px;
}

.div-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.body-2 {
    background-color: #000037;
    font-family: Montserrat, sans-serif;
    color: #fff;
}

.vume-button__icon {
    display: none;
    margin-right: 20px;
}

.vume-button-old {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    margin: 10px;
    padding: 12px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    background-color: #0f9;
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    transition: transform 500 msease;
    transition: transform 500ms ease, -webkit-transform500ms ease;
    text-align: center;
    text-transform: capitalize;
}

.vume-button-old:hover {
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
}

.vume-button-old.join {
    background-color: #00e58f;
}

.vume-button-old.present {
    width: 25%;
    background-color: #00bbae;
}

.shroom-creator {
    display: none;
    width: 100vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.presenter-shroom {
    display: none;
    width: 100vw;
    height: 100vh;
}

.viewer-shroom {
    display: none;
    width: 100vw;
    height: 100vh;
}

.vume-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500 msease;
    transition: transform 500ms ease;
    transition: transform500ms ease, -webkit-transform 500ms ease;
    color: #000037;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}

.vume-input:hover {
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
}

.vume-input.join {
    background-color: #00e58f;
}

.vume-input.present {
    width: 25%;
    background-color: #00bbae;
}

.vume-input.primary {
    background-color: #0f9;
}

.vume-input.secondary {
    background-color: #00d0bb;
}

.presenter-shroom__main {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 3;
    width: 70%;
    height: 70%;
    background-color: #000;
}

.viewer-shroom__bottom {
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: block;
    width: 70%;
    height: 30%;
}

.presenter-shroom__right {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 30%;
    height: 100%;
}

.vume__comments-adder {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 15%;
}

.presenter-shroom__bottom {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 70%;
    height: 30%;
    background-color: rgba(0, 0, 0, .33);
}

.vume-quadratic-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.div-block-2 {
    width: 34%;
    margin-right: 33%;
    margin-left: 33%;
}

.div-block-3 {
    width: 100%;
    margin-bottom: 10%;
    text-align: center;
}

.vume__presentation-input__icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 72px;
    height: 72px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 72px;
    line-height: 72px;
}

.vume__presentation-input__icon.primary {
    background-color: #0f9;
}

.vume__presentation-input__icon.secondary {
    background-color: #00d0bb;
}

.vume__presentation-input__icon.tertiary {
    background-color: #e5c206;
}

.vume__quadratic-button__text {
    padding: 1rem;
}

.viewer-shroom__main {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 3;
    width: 70%;
    height: 70%;
    background-color: #000;
}

.viewer-shroom__right {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 30%;
    height: 100%;
}

.viewer-shroom__bottom__top {
    width: 100%;
    height: 50%;
}

.viewer-shroom__bottom__bottom {
    position: relative;
    z-index: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 50%;
}

.input-button-molecule {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.reaction-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}

.reaction-input__button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.reaction-input__button.primary {
    background-color: #0f9;
}

.reaction-input__button.secondary {
    background-color: #ffd900;
}

.reaction-input__button.tertiary {
    background-color: #e74900;
}

.reaction-input__button.quaternary {
    background-color: #00d0bb;
}

.comment-section {
    height: 100%;
}

.comment-card {
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
    color: #000037;
    font-size: 18px;
}

.comment-card__text {
    line-height: 1.3rem;
}

.comment-card__timestamp {
    color: #b8b8b8;
    font-size: 0.61rem;
}

.comment-card__score {
    color: #b8b8b8;
    font-size: 0.61rem;
}

.div-block-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.reaction-input__button__icon {
    font-size: 58px;
    line-height: 58px;
}

.presenter-shroom__bottom__top {
    width: 100%;
    height: 50%;
}

.presenter-shroom__bottom__bottom {
    position: relative;
    z-index: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 50%;
}

.vume-timer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 58px;
}

@media (max-width: 991px) {
    .tagline {
        font-size: 19px;
    }

    .presenter-shroom__main {
        width: 100%;
        height: 35%;
    }

    .viewer-shroom__bottom {
        width: 100%;
        height: 20%;
    }

    .presenter-shroom__right {
        top: 35%;
        width: 100%;
        height: 65%;
    }

    .presenter-shroom__bottom {
        width: 100%;
    }

    .div-block-2 {
        width: 60%;
        margin-right: 20%;
        margin-left: 20%;
    }

    .viewer-shroom__main {
        width: 100%;
        height: 35%;
    }

    .viewer-shroom__right {
        top: 35%;
        width: 100%;
        height: 65%;
    }

    .comment-card__text {
        font-size: 16px;
    }

    .reaction-input__button__icon {
        font-size: 36px;
    }
}

@media (max-width: 767px) {
    .tagline {
        font-size: 18px;
    }

    .div-block {
        width: 100%;
    }

    .viewer-shroom {
        display: block;
    }

    .div-block-2 {
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
    }

    .comment-card__text {
        font-size: 14px;
    }

    .reaction-input__button__icon {
        font-size: 36px;
    }
}

@media (max-width: 479px) {
    .tagline {
        font-size: 12px;
    }

    .comment-card__text {
        font-size: 12px;
    }

    .reaction-input__button__icon {
        font-size: 24px;
    }
}
