.vume-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    margin: 10px;
    padding: 1rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
    color: #000037;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
}

.vume-button__icon {
    display: none;
    margin-right: 20px;
}

.vume-button__text {  }

.vume-button:hover {
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
}

.vume-button.primary {
    background-color: #0f9;
}

.vume-button.secondary {
    background-color: #00d0bb;
}

